# Execute Python Syntax


Python syntax can be executed by writing directly in the code

In [ ]:
print("hello world")

In [ ]:
print("hi")

# Python Indentation

Indentation refers to the space at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

In [ ]:
if 10>5:
    print("Ten is greater than five")

### Python will give you an error if you skip the indentation:

In [ ]:
if 5>2:
print("five is greater than two")

# Python Variables

In python ,variables are created when you assign a value to it.

In [ ]:
# valied
myvar = 10
my_var = 10
MyVar = 10
Myvar1 = 10
my_Var_1 = 10


# Invalied
My Var = 10
My-var = 10
1_myvar = 10

In [ ]:
x=5
y="hi"
print(x)
print(y)

In [ ]:
name = "Python"
print(name)
print("name")

# Python Comments

Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments starts with a #, and Python will ignore them:

In [ ]:
#This is a comment
print("Hello, World!")

# Multi Line Comments

Python does not really have a syntax for multi line comments.

To add a multiline comment you could insert a # for each line:

In [ ]:
#This is a comment
#written in
#more than just one line
print("Hello, World!")

In [ ]:
def add():
    """
    This function is ti add the two num
    
    """
    a= 10
    b=20
    return a+b

In [ ]:
"""
This is a comment
written in
more than just one line
"""    # Doc string comment
print("Hello, World!")

 # Built-in Data Types

### In programming, data type is an important concept.

### Variables can store data of different types, and different types can do different things.

### Python has the following data types built-in by default, in these categories:

1. Text Type  :	str
2. Numeric Types  :	int, float, complex
3. Sequence Types :	list, tuple, range
4. Mapping Type :	dict
5. Set Types  :	set, frozenset
6. Boolean Type  :	bool

In [ ]:
x=4
print(type(x))

# Setting the Data Type
In Python, the data type is set when you assign a value to a variable

In [ ]:
# string # Strings in python are surrounded by either single quotation marks,
#or double quotation marks.
x="hello world"
print(type(x))

In [ ]:
# int  # integer number 

x= 10
print(type(x))

In [ ]:
# float, "floating point number" is a number, positive or negative, 
#containing one or more decimals.

x=10.5
print(type(x))

In [ ]:
# complex ,Complex numbers are written with a "j" as the imaginary part

x= 2j+1
print(type(x))

In [ ]:
# list,Lists are used to store multiple items in a single variable.

x=["apple","banana","mango"]
print(type(x))

In [ ]:
# tuple, are used to store multiple items in a single variable.
# 
x=("orange","grapes","guava")
print(type(x))

In [ ]:
# range

x=range(6)
print(type(x))

In [ ]:
# dict ,Dictionaries are used to store data values in key:value pairs.
# Dictionaries are written with curly brackets, and have keys and values

x={"name":"chandana","place":"hyderabad"}
print(type(x))

In [ ]:
# set,Sets are used to store multiple items in a single variable.
# Sets are written with curly brackets

x={"table","chair","phone"}
print(type(x))

In [ ]:
# frozenset,As it is a set object therefore we cannot have
#duplicate values in the frozenset.

x=frozenset({"laptop","computer"})
print(type(x))

In [ ]:
# bool # Booleans represent one of two values: True or False.
x=True
print(type(x))

When you compare two values, the expression is evaluated and Python returns the Boolean answer

In [ ]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

In [ ]:
# none
x=None
print(type(x))

# Setting the Specific Data Type or Type conversion
If you want to specify the data type, you can use the following constructor functions

In [ ]:

x=1729
print(x)
print(type(x))

In [ ]:
x=("car",1000000,)
print(type(x))

In [ ]:
# string
x=str(1729) # here iam creating initially number has a string
print(x)
print(type(x))

In [ ]:
y=list("python")
print(y)
print(type(y))

In [ ]:
x=list("hello world")

print(x)
print(type(x))

In [ ]:
# string
x=str("hello world")
print(x)
print(type(x))

In [ ]:
y=str("Good morning")
print(y)
print(type(y))

In [ ]:
# int
x=int(20)
print(x)
print(type(x))

In [ ]:
my_self=int("12")
print(my_self)
print(type(my_self))

In [ ]:
# float
x=float(12.0)
print(x)
print(type(x))

In [ ]:
# complex
x=complex(1j)
print(x)
print(type(x))

In [ ]:
# list
x=[1,2,3,4,4,5]
print(x)
print(type(x))

In [ ]:
x=list(("apple","banana","orange"))
print(x)
print(type(x))

In [ ]:
# tuple
x=tuple(("A","B","C","D"))
print(x)
print(type(x))

In [ ]:
# range
x=range(5)
print(x)
print(type(x))

In [ ]:
y=range(10)
print(y)
print(type(y))

In [ ]:
# dict
x=dict(name="chandana",location="hyderabad")
print(x)
print(type(x))

In [ ]:
# tuple
x=(("apple","mango","orange"))
print(x)
print(type(x))

# frozenset
A frozenset is an unordered, un-indexed, and immutable collection of elements. It provides all the functionalities that a set offers in Python, the only difference being the fact that a frozenset is immutable, i.e. canâ€™t be changed after it is created.

In [ ]:
# frozenset

x=frozenset(("chandana","kalyani","maheshwari"))
print(x)
print(type(x))

In [2]:
x=frozenset((1,2,3,4,5,6,7))
print(x)

frozenset({1, 2, 3, 4, 5, 6, 7})

In [1]:
s={1,22,13,4,5}
print(s)

fs=frozenset(s)
print(fs)

print(frozenset("hello"))
print(frozenset("Python Program"))

{1, 4, 5, 22, 13}
frozenset({1, 4, 5, 22, 13})
frozenset({'h', 'l', 'e', 'o'})
frozenset({'a', 'o', 'h', 'r', 'n', 'P', 'm', ' ', 't', 'y', 'g'})

In [ ]:
# bool
x=bool(6)
print(x)
print(type(x))

In [ ]:
# converting tuple to frozenset

In [ ]:
x= frozenset(("a","b","c","d")) # frozen set is unorder
print(x)

In [ ]:
x=frozenset((1,2,3,4,5))
print(x)

In [ ]:
x=frozenset((1,2,3,4,5,6,7,8,9,0,1,2,3,4,5,6))
x

In [ ]:
x=frozenset(("apple","orange","cherry","mango","banana"))
x